<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>BrazilianLight</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/bl.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active " href="#">Today</a>

            <a class="navbar-brand" style="margin-left: 0px;"  href="#">Calendar</a>


            <a class="navbar-brand" style="margin-left: 0px;"  href="#">Rank</a>


        </div>

        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="#">Help</a></li>
                <li class=""><a href="#">About</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->


    </div>
</div>


<div class="container">

<div class="row dayHdr">

    <div class="col-xs-12 ">Day 1: 28 Monday July 24</div>

</div></div>
<div class="container">



    <div class="row gameTime" >

        <div class="col-xs-12">12:00 GMT</div>


    </div>

    <div class="row gameRivals">



        <div class="col-xs-12">
            <span  class="countryDomain hidden-xs"><img src="../public/images/Brazil.png" alt="!flag!"></span>
            <span class="countryDomain">BR</span>
            <span class="versus">Vs.</span>
            <span class="countryDomain">DE</span>
            <span   class="countryDomain hidden-xs"><img src="../public/images/Germany.png" alt="!flag!"></span>
            <div class="col-xs-12 teamsFull ">
                <span class="aligner">Brazil</span>

                <span>Germany</span>
                <div class="col-xs-12 inputs">
                    <input type="text" class="input-lg form-control aligner" placeholder="__">
                    <input type="text"  class="input-lg form-control" placeholder="__">
                </div>
            </div>

        </div>


    </div>



    <div class="row btnCon" >

        <div class="col-xs-12"><button type="button" class="btn btn-primary btn-lg btn-block center-block">Submit your guess </button></div>


    </div>
</div><!-- /.container -->

<div class="container">



    <div class="row gameTime" >

        <div class="col-xs-12">14:00 GMT</div>


    </div>

    <div class="row gameRivals">

        <div class="col-xs-12 " >
            <span  class="countryDomain hidden-xs"><img src="../public/images/Russia_flag.png" alt="!flag!"></span>
            <span class="countryDomain">RU</span>
            <span class="versus">Vs.</span>
            <span class="countryDomain">NL</span>
            <span  class="countryDomain hidden-xs"><img src="../public/images/Netherlands_flag.png" alt="!flag!"></span>
            <div class="col-xs-12 teamsFull ">
                <span class="">Russia</span>
                <span class="aligner"></span>
                <span class="">Nethrlnds</span>
                <div class="col-xs-12 inputs">
                    <input type="text"   class="input-lg form-control" placeholder="__" disabled="disabled">
                    <span class="aligner"></span>
                    <input type="text"  class="input-lg form-control" placeholder="__" disabled="disabled">
                </div>
            </div>

        </div>



    </div>




    <div class="row btnCon" >

        <div class="col-xs-12"><button type="button" class="btn btn-primary btn-lg btn-block center-block" disabled="disabled">Game started!</button></div>


    </div>
</div><!-- /.container -->


<div class="container">



    <div class="row gameTime" >

        <div class="col-xs-12">18:00 GMT</div>


    </div>

    <div class="row gameRivals">


        <div class="col-xs-12 ">

            <span  class="countryDomain hidden-xs"><img src="../public/images/esp.png" alt="!flag!"></span>
            <span class="countryDomain">ES</span>
            <span class="versus">Vs.</span>
            <span class="countryDomain">PT</span>
            <span  class="countryDomain hidden-xs"><img src="../public/images/por.png" alt="!flag!"></span>
            <div class="col-xs-12 teamsFull">
                <span class="">Spain</span>

                <span class="aligner"></span>
                <span >Portugal</span>
                <div class="col-xs-12 inputs">
                    <input type="text"  class="input-lg form-control" placeholder="3" disabled="disabled">
                    <span class="aligner"></span>
                    <input type="text" class="input-lg form-control" placeholder="1" disabled="disabled">
                </div>
            </div>

        </div>



    </div>




    <div class="row btnCon" >

        <div class="col-xs-12"><button type="button" class="btn btn-success btn-lg btn-block center-block">Done! Change your mind?</button></div>


    </div>
</div><!-- /.container -->


<div class="container">

    <div class="row">

        <div class="col-xs-12 footer">BrazilianLight 2014  -   help  -  about</div>


        </div>
</div>




</body></html>