
.icon-ok:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-thumbs-up-1:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */